.body {
  color: #434455;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  width: 100%;
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.picture {
  flex-shrink: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo span {
  color: #2e2f42;
}

.logo:hover {
  color: #4d5ae5;
  cursor: pointer;
}

header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .logo {
  display: block;
  /* padding-top: 24px;
  padding-bottom: 24px; */
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 76px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  /* display: flex; */
  display: none;
  gap: 40px;
}

.site-nav .link-nav {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link-nav {
  display: block;
  /* padding-top: 24px;
  padding-bottom: 24px; */
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .link-nav::after { */
/* content: '';
  width: 100%;
  height: 4px; */
/* position: absolute;
  left: 0;
  bottom: -1px; */
/* background-color: #404bbf;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
/* } */

/* .link-nav:hover,
.link-nav:focus {
  color: #404bbf;
} */

/* .link-nav:hover::after,
.link-nav:focus::after,
.link-nav.current::after {
  opacity: 1;
} */

.site-nav .current {
  color: #404bbf;
}

.link-contacts {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  /* padding-top: 24px;
  padding-bottom: 24px; */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-address {
  /* display: flex; */
  display: none;
  gap: 40px;
}

.contacts .link-contacts {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts .link-contacts:hover {
  color: #404bbf;
}

.contacts .link-contacts:focus {
  color: #404bbf;
}

.menu-btn-open {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 16px 0;
}

.menu-icon {
  fill: #2f2f37;
  flex-shrink: 0;
}

.hero {
  background-color: #2e2f42;
  /* max-width: 1440px; */
  /* max-width: 320px; */
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* padding-top: 188px;
  padding-bottom: 188px; */
  padding-top: 72px;
  padding-bottom: 72px;
  margin: 0 auto;
}

@media screen and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img-mob2x.jpg);
  }
}

.page-title {
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  max-width: 216px;
  /* max-width: 320px; */
  /* font-size: 56px; */
  /* line-height: 1.07; */
  /* max-width: 496px; */
  margin: 0 auto;
  text-align: center;
  /* margin-bottom: 48px; */
  margin-bottom: 72px;
}

.hero .button {
  color: #fff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  display: block;
  margin: 0 auto;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
}

.hero .button:hover,
.hero .button:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.title-advantages {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 8px;
}

.text {
  color: #434455;
  /* block-size: border-box; */
}

.text-advantages {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0 auto;
}

.advantages {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.advantages-item {
  width: 100%;
  /* width: calc((100% - 72px) / 4); */
}

.advantages-box {
  display: none;
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px; */
}

.team {
  background-color: #f4f4fd;
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-card {
  background-color: #fff;
  /* width: calc((100% - 72px) / 4); */
  max-width: 264px;
  width: 100%;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-box {
  /* padding: 32px 0 32px; */
  padding: 32px 16px;
  text-align: center;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 24px; */
  gap: 72px;
}

.team-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-icon-items {
  width: 40px;
  height: 40px;
  display: block;
}

.team-icon-link {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}

.section-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio .section-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  /* column-gap: 24px; */
  row-gap: 48px;
}

.portfolio-list-item {
  /* width: calc((100% - 48px) / 3); */
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 288px;
  width: 100%;
}

.portfolio-cover {
  position: relative;
  overflow: hidden;
}

.porfolio-cover-text {
  position: absolute;
  top: 0;
  height: 100%;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .porfolio-cover-text {
  transform: translateY(0);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box {
  padding: 32px 16px;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}

.footer {
  background-color: #2e2f42;
  /* padding-top: 100px;
  padding-bottom: 100px; */
}
.footer .text-footer {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.sm-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-decoration: none;
}

.footer .logo {
  margin-bottom: 16px;
  display: inline-block;
}

.footer .footer-logo {
  color: #f4f4fd;
}

/* .text-footer {
  max-width: 288px;
} */

.footer-container {
  /* display: flex;
  flex: wrap;
  align-items: baseline; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 16px;
}

.footer-icons {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 80px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 72px;
}

.footer-logo-block {
  /* margin-right: 120px; */
  display: block;
  max-width: 288px;
  margin-bottom: 72px;
}

.footer-logo-wrapper {
  display: flex;
  justify-content: center;
}

.footer-icon-items {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.footer-icon-list {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.footer-social-icon {
  fill: #f4f4fd;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  max-width: 100%;
  border: 1px solid #fff;
}

.footer-subscribe {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  display: block;
  text-align: center;
}

.subscribe-text {
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-input-text {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  padding-left: 16px;
  padding-right: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-input::placeholder {
  color: #fff;
}

.footer-btn {
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

.footer-btn:hover {
  background-color: #404bbf;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-cover {
  position: relative;
}

.footer-send-icon {
  margin-left: 16px;
  fill: #fff;
}

.mob-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 24px 24px 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.menu-btn-close {
  display: block;
  margin-left: auto;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.menu-icon-close {
  fill: #2e2f42;
}

.mob-nav-list {
  margin-bottom: 50px;
}

.mob-nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.link-nav-mob {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.mob-nav-list .current {
  color: #404bbf;
}

.contacts-mob-menu {
  font-style: normal;
  margin-bottom: 48px;
}

.contacts-mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contacts-mob-menu-list .current {
  color: #4d5ae5;
}

.link-contacts-mob {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.icons-mob-menu-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.mob-icon-items {
  width: 40px;
  height: 40px;
  display: block;
}

.mob-icon-link {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-shrink: 0;
}

.mob-icon-link:hover,
.mob-icon-link:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-icon {
  fill: #f4f4fd;
}

.backdrop {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: #fff;
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 360px;
  margin-bottom: 16px;
  height: 24px;
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
}

.modal-fieled {
  margin-bottom: 8px;
}

.modal-fieled-text {
  margin-bottom: 16px;
}

.modal-input-cover {
  position: relative;
}

.modal-item {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
}

.modal-input {
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-input-text {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: #8e8f99;
}

.modal-input-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-textarea {
  height: 120px;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-fieled-cheak {
  margin-bottom: 24px;
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.check-element {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-icon {
  fill: #fff;
}

.policy-link {
  color: #4d5ae5;
}

.modal-check:checked + .check-text .check-element {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1157px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .menu-btn-open {
    display: none;
  }

  /* .header-container {
    display: flex;
    align-items: center;
  } */

  /* .header-navigation {
    display: flex;
    align-items: center;
  } */

  .site-nav {
    display: flex;
    /* display: none; */
    gap: 40px;
  }

  .link-nav::after {
    /* padding-top: 24px;
    padding-bottom: 24px; */
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -35px;
    background-color: #404bbf;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-nav:hover,
  .link-nav:focus {
    color: #404bbf;
  }

  .link-nav:hover::after,
  .link-nav:focus::after,
  .link-nav.current::after {
    opacity: 1;
  }

  .contacts-address {
    display: flex;
    flex-direction: column;
    /* display: none; */
    gap: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img-tablet.jpg);
  }

  @media screen and (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-img-tablet2x.jpg);
    }
  }

  .page-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }

  .title-advantages {
    display: block;
    text-align: left;
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
    max-width: 768px;
  }

  .advantages-list {
    width: 100%;
    row-gap: 72px;
    column-gap: 24px;
  }

  .team-card {
    width: calc((100% - 24px) / 2);
  }

  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 64px;
    column-gap: 24px;
  }

  .portfolio-list {
    row-gap: 72px;
    column-gap: 24px;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .portfolio-list-item {
    width: 100%;
    max-width: 356px;
  }

  .footer-container {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    padding: 96px 164px 96px 108px;
    justify-content: space-between;
  }

  .footer-logo-wrapper {
    flex-direction: column;
  }

  .footer-icons {
    justify-content: flex-start;
    align-items: start;
    padding: 0;
  }

  .subscribe-text {
    text-align: left;
  }

  .footer-input-text {
    opacity: 0.6;
  }

  .footer-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .link-nav::after {
    bottom: -23px;
  }

  .header .logo {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .contacts-address {
    flex-direction: row;
    gap: 40px;
  }

  .hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img.jpg);
  }

  @media screen and (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-img-2x.jpg);
    }
  }

  .advantages-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advantages-list {
    flex-wrap: nowrap;
  }

  .title-advantages {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .text-advantages {
    font-weight: 400;
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .footer-container {
    display: flex;
    flex: wrap;
    align-items: baseline;
  }
}
